.testimonials_container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.testimonials_container .testimonials_header{
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: 4px;
}
.testimonials_container .testimonials_header svg{
    height: 25px;
    margin-right: 1%;
    width: 25px;
    padding: 2px;
   
}
.testimonials_container .testimonials {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;

}

.testimonials_container .testimonials .testimonial {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2px;
    border-radius: 2px;
    background-color: rgb(46, 46, 46);
}

.testimonials_container .testimonials .testimonial .testimonial_header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 2px;
}

.testimonials_container .testimonials .testimonial .testimonial_header img {
    width: 40px;
    height: 40px;
}

.testimonials_container .testimonials .testimonial .testimonial_header .testimonial_header_details {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}

.testimonials_container .testimonials .testimonial .testimonial_header .testimonial_header_details h3 {
    font-size: 14px;
    font-weight: 200;
}

.testimonials_container .testimonials .testimonial .testimonial_header .testimonial_header_details h4 {
    font-size: 10px;
    font-weight: 100;
}

.testimonials_container .testimonials .testimonial .testimonial_details {
    font-size: 12px;
    font-weight: 100;
    padding: 2px;
}