
.hero_container .hero_cover{

    height: 70vh;
    width: 100%;
    display: flex;
    padding: 10px;
    align-items: center;
}
.hero_container .hero_cover .hero_text{
    font-size: 17px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    width: 50%;
}
.hero_container .hero_cover .hero_text .hero_buttons{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.hero_container .hero_cover .hero_text .hero_buttons button{
    margin-top: 10px;
    height: 40px;
    width: 350px;
    border: none;
    background-color: white;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}